.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 24px 0 32px 0;
  gap: 8px;

  height: 356px;

  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #4317d4;
  backdrop-filter: blur(4px);

  border-radius: 8px;

  cursor: pointer;

  &--selected {
    color: #ffff;
    background: #7c5aed;
    border: 1px solid #4317d4;
  }

  &:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }

  h1 {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    &:first-of-type {
      margin-bottom: 8px;
    }
  }

  img {
    max-height: 172px;
    max-width: 220px;
  }
}
